* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  min-height: 900px;
  background-color: rgb(181, 182, 182);
}

.navbar {
  display: flex;
  font-family: "Ranille";
  background-color: rgb(135, 135, 135);
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 6%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
}
.navbar h2 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin-bottom: 0rem;
}
.navbar span {
  color: rgb(255, 85, 113);
}
.navbar .gambar img {
  margin-left: 10px;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 8%;
  border-radius: 10px;
}
.navbar p {
  width: 40%;
  text-align: center;
  font-size: 1rem;
}

.box {
  justify-content: center;
  margin-top: 5%;
  margin-left: 70px;
  display: block;
  float: left;
  width: 25%;
}

.Border {
  margin-top: 10%;
  margin-left: 20px;
  justify-content: center;
}

.g {
  width: 90%;
  border-radius: 30px;
}
